.position-inputbar {
    position:absolute;
    top:-10vh
}

.register {
    display: flex !important;
}

@media (max-width: 250px) {
    .register {
        display: none !important;
    }
}

@media (max-width: 575.98px) {
    .position-inputbar {
        top:0;
        position:relative
    }
}